* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    font-family: fantasy, sans-serif;
    line-height: 1.5;
    background-color: lightgray;
    color: black;
    padding: 20px;
}

.header {
    display: flex;
    background-color: bisque;
    color: black;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}


h1 {
  margin-bottom: 10px;
  text-align: center;
}

header img {
    display: block;
    margin:10px auto;
    border-radius: 50%;
}

.main {
    background-color: lightcyan;
    padding: 20px;
    border-radius: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    color: black;
    margin-top: 50px;
    border-radius: 25px;
}

.menu {
    display: none;
    list-style: none;
    padding: 0;
    gap: 50px;
}

.menu.show {
    display: block;
    /* dont know why right now but this needs to be set to block to function properly */
}

#nerdy-glasses {
    font-size: 25px;
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 20px;
}